name: tests

on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.failure-allowed }}
    strategy:
      matrix:
        ruby-version: ['3.2', '3.3', '3.4', '4.0']
        failure-allowed: [false]
        include:
        - ruby-version: 'head'
          failure-allowed: true
        - ruby-version: 'truffleruby'
          failure-allowed: true
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Run specs
      run: |
        bundle exec ruby -v
        bundle exec rake
